nav {
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 100;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(1.5rem);
}

nav a {
  display: flex;
  background-color: transparent;
  color: var(--color-light);
  font-weight: 500;
  transition: var(--transition);
  font-size: 1.7rem;
  padding: 1rem;
}

nav a:hover {
  background-color: rgba(1, 1, 1, 0.4);
  color: var(--color-white);
  border-radius: 50%;
}

nav a.active {
  background-color: var(--color-primary);
  color: #2e2e2e;
  border-radius: 50%;
}
