.experience__details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.experience__details h4 {
  font-size: 2rem;
}

.experience__details-icons {
  font-size: 1.3rem;
  color: var(--color-primary);
}

.skill__bar {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  padding: 0.2rem;
}
.skill__bar-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 1;
  background: linear-gradient(90deg, rgba(2, 112, 13, 0.807), transparent);
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .skill__bar {
    display: none;
  }
}
